/* belajar2.html */
/* Root because we use rem Unit */
html {
    font-size: 100%; /* normally 16px */
}

/* global default style */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    flex:1;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* typography */
h1 { font-size: 2rem;}
h2 { font-size: 1.5rem; } 
p { font-size: 1rem; }

/* layout helper */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto ;
    text-align: center;
    /* background-color: blue; */
    /* flex-grow: 1; */
}

/* components */
header {
    background-color: black;
    color: white;
    text-align: center;
}

nav ul {
    background-color: red;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav a {
    background-color: aqua;
    text-decoration: none;
    color: white;
}

.information {
    background-color: yellow;
}

main {
    background-color: green;
    flex-grow: 1;
}


.information-1 {
    background-color: yellow;
}

.flexboxgrow {
    background-color: red;
    /* flex-grow: 1; */
}


footer {
    text-align: center;
    background-color: gold;
}

.container-2 {
}

/* belajar.html
body{
    background-color: #f4f6fb;
    margin: 0;
    padding: 0;
}

ul{
    background-color: white;
    list-style-type: none;
    margin: 0;
    top: 0;
    width: 100%;
    padding: 0;
    position: fixed;
    overflow: hidden;
    border: 1px solid #e7e7e7;

}

li{
    float: right;
}
li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #4c4b4b;
} 

li a:hover {
    color: whitesmoke;
}

.data{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    margin-left: 40px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
}

.profile-left{
    display: flex;
    flex: 1;
    max-width: 400px;
    gap: 20px;
    padding-right: 30px;
    align-items: center;
    border-right: 2px solid #e0e0e0;
}

.profile-right{
    flex: 1;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-right p{
    margin: 0;
    padding: 5px;
    color: #333;
    text-indent: 0;
}

.profile-info h1{
    margin: 0;
    padding-bottom: 10px;
    font-size: 22px;
}

.profile-info p{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 30px;
    font-size: 14px;
    justify-content: center;
    flex-direction: column;
}

.kontak, .resume{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 10px;
    margin-top: 10px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.kontak{
    background-color: blue;
    color: white;
}

.resume{
    background-color: white;
    border: 1px solid green;
    color: green;
}

.form{
    font-weight: bold;
    background-color: white;
    margin-left: 40px;
    margin-right: 100px;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
}

.forminput{
    position:static;
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 2px;
}

#submit{
    background-color: green;
    color: white;
    width: 100%;
    height: 30px;
    border: none;
    margin-top: 10px; 
} */
